<html>
<head>
  <style>
    h1 {color: red},
    h2 {size: 1000px},
  </style>
</head>

<body>

<h1> This is the About page! </h1>
<h2> Test </h2>

<script type="text/javascript"src="http://www.payscale.com/syndication/embedchart.aspx?JobTitle=SAP+Consultant&country=US&js=1&type=4&size=0"></script>

<%= link_to 'HOMEPAGEBRUH', root_path %>

</body>

</html>